{% if eventstore_run_projections is defined %}
RunProjections: {{ eventstore_run_projections }}
{% endif %}
{##}
{% if eventstore_projection_threads is defined %}
ProjectionThreads: {{ eventstore_projection_threads }}
{% endif %}