{% if eventstore_discover_via_dns is defined %}
DiscoverViaDns: {{ eventstore_discover_via_dns }}
{% endif %}
{##}
{% if eventstore_cluster_dns is defined and eventstore_discover_via_dns == true %}
ClusterDns: {{ eventstore_cluster_dns }}
{% endif %}
{##}
{% if eventstore_cluster_gossip_port is defined %}
ClusterGossipPort: {{ eventstore_cluster_gossip_port }}
{% endif %}
{##}
{% if eventstore_gossip_seed is defined %}
GossipSeed: {{ eventstore_gossip_seed }}
{% endif %}
{##}
{% if eventstore_cluster_gossip_timeout is defined %}
GossipTimeoutMs: {{ eventstore_cluster_gossip_timeout }}
{% endif %}
{##}
{% if eventstore_cluster_gossip_interval is defined %}
GossipIntervalMs: {{ eventstore_cluster_gossip_interval }}
{% endif %}