---
{#
Cluster options:
https://eventstore.com/docs/server/command-line-arguments/index.html#cluster-options
note: ClusterSize seems to be mandatory
#}
ClusterSize: {{ eventstore_cluster_size }}
{% if eventstore_cluster_size > 1 %}
{% include 'partials/eventstore.conf.cluster.jinja' %}
{% endif %}
{#
Projections options:
https://eventstore.com/docs/server/command-line-arguments/index.html#projections-options
#}
{% include 'partials/eventstore.conf.projections.jinja' %}
{#
Database options:
https://eventstore.com/docs/server/command-line-arguments/index.html#database-options
#}
{% include 'partials/eventstore.conf.database.jinja' %}
{#
Interface options:
https://eventstore.com/docs/server/command-line-arguments/index.html#interface-options
#}
{% include 'partials/eventstore.conf.interface.jinja' %}
